# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
my_df = pd.read_csv('../WeatherPy/LessHumid.csv')
my_df.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,puerto ayora,-0.74,-90.35,70.00,90,86,4.00,EC,1604204687
1,hilo,19.73,-155.09,82.40,65,90,5.82,US,1604204565
2,new norfolk,-42.78,147.06,62.01,52,95,1.01,AU,1604204688
3,catamarca,-28.47,-65.79,48.99,66,4,1.01,AR,1604204442
4,avarua,-21.21,-159.78,75.20,83,100,10.29,CK,1604204688

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
gmaps.configure(api_key=g_key)

In [11]:
coords_df = my_df[["Lat", "Lng"]]
humidity_df = my_df["Humidity"].astype(float)

my_map = gmaps.figure()

heat_layer = gmaps.heatmap_layer(coords_df, weights=humidity_df, dissipating=False, max_intensity=300, point_radius=5)

my_map.add_layer(heat_layer)

my_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
Narrowed_df = my_df[(my_df.Max_Temp < 80)
                & (my_df.Max_Temp > 70)
                & (my_df.Cloudiness < 50)
                & (my_df['Wind Speed'] < 40)
                & (my_df.Humidity > 25)
                & (my_df.Humidity < 70)]

Narrowed_df.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind Speed,Country,Date
12,warragul,-38.17,145.93,73.99,57,0,1.99,AU,1604204429
20,airai,-8.93,125.41,79.66,40,2,2.86,TL,1604204697
58,victoria,22.29,114.16,78.01,68,5,1.01,HK,1604204458
76,broken hill,-31.95,141.43,75.20,36,40,8.05,AU,1604204648
131,mahebourg,-20.41,57.70,73.40,60,40,16.11,MU,1604204739

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [34]:

hotel_df = Narrowed_df.copy()
hotel_df['Hotel Name'] =''
hotel_df.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
12,warragul,-38.17,145.93,73.99,57,0,1.99,AU,1604204429,
20,airai,-8.93,125.41,79.66,40,2,2.86,TL,1604204697,
58,victoria,22.29,114.16,78.01,68,5,1.01,HK,1604204458,
76,broken hill,-31.95,141.43,75.20,36,40,8.05,AU,1604204648,
131,mahebourg,-20.41,57.70,73.40,60,40,16.11,MU,1604204739,

In [35]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotels_df.iterrows():
    
    params = {
    "radius": 5000,
    "type":  "lodging",
    'target_search':"Resort",
    "key": g_key,
    "location":f"{row['Lat']},{row['Lng']}"
}

    print(f"Fetching Item {index} - {row.City}.")
    
    try:
        response = requests.get(url, params=params).json()
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
        
    except (KeyError, IndexError):
        print("Results not found... skipping.")

Fetching Item 12 - warragul.
Fetching Item 20 - airai.
Fetching Item 58 - victoria.
Fetching Item 76 - broken hill.
Fetching Item 131 - mahebourg.
Fetching Item 173 - bambous virieux.
Fetching Item 188 - bara.
Results not found... skipping.
Fetching Item 190 - maamba.
Results not found... skipping.
Fetching Item 194 - saint-paul.
Fetching Item 207 - birao.
Results not found... skipping.
Fetching Item 220 - kaeo.
Fetching Item 226 - ponta do sol.
Fetching Item 238 - hasaki.
Fetching Item 255 - souillac.
Fetching Item 257 - castlemaine.
Fetching Item 273 - gewane.
Results not found... skipping.
Fetching Item 275 - salalah.
Fetching Item 276 - bhopal.
Fetching Item 285 - tahoua.
Fetching Item 336 - mildura.
Fetching Item 337 - xam nua.
Fetching Item 357 - cabo san lucas.
Fetching Item 386 - deori khas.
Fetching Item 388 - maiduguri.
Fetching Item 395 - bhadrachalam.
Fetching Item 396 - quatre cocos.
Fetching Item 405 - sur.
Fetching Item 420 - fukue.
Fetching Item 433 - la reforma.
Fetching Item 447 - jiazi.
Fetching Item 541 - porbandar.

In [36]:
hotel_df.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
12,warragul,-38.17,145.93,73.99,57,0,1.99,AU,1604204429,Comfort Inn & Suites Warragul
20,airai,-8.93,125.41,79.66,40,2,2.86,TL,1604204697,Juvinal Martin
58,victoria,22.29,114.16,78.01,68,5,1.01,HK,1604204458,Mini Hotel Central
76,broken hill,-31.95,141.43,75.20,36,40,8.05,AU,1604204648,Daydream Motel & Cottages
131,mahebourg,-20.41,57.70,73.40,60,40,16.11,MU,1604204739,Shandrani Beachcomber Resort & Spa

In [37]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [39]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
my_map.add_layer(markers)

# Display figure
my_map

Figure(layout=FigureLayout(height='420px'))